.about_page {
  background: url("../img/tumblr_myebwtELvb1st5lhmo1_1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about {
  height: 500px;
  background-color: #fff;
}