.navbar-default .navbar-nav>li>a {
  color: #373737 !important;
}

.apply {
  border: 1px solid #373737;
}
.apply:hover {
  color: #000;
  border: 1px solid #000;
}

.about_page {
  background: url("../img/tumblr_myebwtELvb1st5lhmo1_1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about {
  height: 1400px;
  background-color: #087a7a;
  opacity: .9;
}

.ready_to_apply {
  background-color: #a2dcdc;
  opacity: .9;
}

.final_call_to_action {
  background-color: transparent;
  color: #373737;
  border: 2px solid #373737;
}

.final_call_to_action:hover {
  background-color: #fff;
  border: 2px solid #373737;
  color: #373737;
}