
.apply {
  margin-bottom: 10px;
  border: solid 2px #fff;
  border-radius: 0;
  background: 0 0;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.apply:hover {
  background-color: #fff;
  border: 2px solid #fff;
};

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

.final_call_to_action {
  margin-bottom: 10px;
  border: solid 2px #CB0D0D;
  border-radius: 0;
  background: 0 0;
  color: #CB0D0D;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin-left: auto;
  margin-right: auto;

}

.final_call_to_action:hover {
  background-color: #CB0D0D;
  border: 2px solid #CB0D0D;
};
