body {
  background: url("../img/hand-typing-on-keyboard.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
  background-color: #a60000;
  opacity: .9;
}

label {
  color: #fff;
}

