/* FONTS */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  letter-spacing: 2px;
}


.headline_text {
  padding-top: 100px;
  font-size: 50px;
}

.subheading {
  font-weight: 400;
}

.subheading_light {
  opacity: .7;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;

}



.blue_accent {
  background-color: #087a7a !important;
}
.green_accent {
  background-color: #82bd0c !important;
}
.grey_accent {
  color: #373737
}
.primary_color {
  background-color: #CB0D0D !important;
}
.offset_color {
  color: #000;
}
.white_accent {
  background-color: #fff;
}