/* HOME PAGE SECTIONS */
.typing {
  background: url("../img/hand-typing-on-keyboard.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.home_splasher {
  min-height: 600px;
}

.technology_stack {
  min-height: 1400px;
  background-color: #fff;
  margin: 0;
}

.curriculum {
  min-height: 1150px;
  background-color: #1c8e8e;
  opacity: .9;

}

.team {
  min-height: 1700px;
  background-color:  #a2dc2c;
}

.testimonials {
  min-height: 800px;
  background-color: #ec2f2f;
  opacity: .9;
}




.apply_now {
  min-height: 500px;
  background-color: #fff;
}

.ts {
  max-height: 200px;
  max-width: 200px;
}
.logo {
  opacity: 1
}

img {
  opacity: .8;
}

img:hover {
  opacity: 1;
  -webkit-transition: opacity: .5s ease-in-out;
  -ms-transition: opacity: .5s ease-in-out;
  -o-transition: opacity: .5s ease-in-out;
  transition: opacity: .5s ease-in-out;

}
.img_border {
  border: 2px solid #fff;
  
}



.panel-default>.panel-heading {
  background-color: transparent;
}






