.padding {
  padding: 100px;
}

.padding-10 {
  padding: 10px;

}
.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-top-5 {
  padding-top: 5px;
}
.padding-top-20 {
  padding-top: 20px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-top-20 {
  margin-top: 80px;
}