.navbar-default .navbar-nav>li>a {
  color: #373737 !important;
}


.apply {
  border: 1px solid #373737;
}
.apply:hover {
  color: #000;
  border: 1px solid #000;
}

.final_call_to_action {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.final_call_to_action:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}




body {
  background: url("../img/tumblr_n7fgnop0bz1st5lhmo1_1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.partner_headline {
  height: 400px;
  background-color: #ec2f2f;
  opacity: .9;
}

.partner_selection {
  height: 1350px;
  background-color: #fff;
  opacity: .9;
}


.ready_to_apply {
  height: 500px;
  background-color: #a60000;
  opacity: .9;
}


.partners {
  height: 100px;
  width: 100px;
}